body{
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.card{
    background-color: rgb(192, 202, 211);
}

img{
    height: 500x;
    width: 700px;
}

.esquerda img{
    position: relative;
    left: 500px;
}

.card p{
    position: relative;
    top: -300px;
    background-color: #00ff0034;
}

.text{
    width: 300px;
    padding-left: 100px;
}

.text2{
    width: 300px;
    padding-left: 850px;
}